﻿@model IEnumerable<App.Applications.DtoCollection.Users.Dto.MasterUser>

@{
    ViewBag.Title = "Index";
}


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title"> User List</strong>
                </div>
                <div class="card-body">
                    <div style="padding-bottom: 19px;">
                        <a href="@Url.Action("Create")" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Create New</a>
                    </div>
                    
                    
                    <table id="bootstrap-data-table" class="table dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Username)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.isActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.phone)
                                </th>
                                <th>
                                    Roles
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phone)
                                    </td>
                                    <td>
                                        @foreach (var items in item.roles)
                                        {
                                            <span>@items</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
@section Scripts {
    @*<script>
        jQuery(function ($) {
            $('.dataTable').DataTable();
        });
    </script>*@
}

