﻿@using App.Applications.DtoCollection.Perumahan.Dto
@model List<PerumahanViewModel>

@{
    ViewBag.Title = "CariRute";
}

<h2> @ViewBag.data</h2>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Create</strong>
            </div>

            <div class="card-body">
                <div id="map" style="height:500px">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
        var dataPerumahan = [];
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <text>
                    var data = {
                        lat:@item.lat,
                        lon:@item.lon
                    };
                    dataPerumahan.push(data);
                 </text>
            }

        }
        var last = new google.maps.LatLng(45.5580, 18.7134);
        var infowindow = new google.maps.InfoWindow;
        var granicaDosega = new Array();
        var Origin_lat = 45.557986854;
        var Origin_lng = 18.713400671;
        granicaDosega.push(new google.maps.LatLng(45.560794465, 18.720910185));
        granicaDosega.push(new google.maps.LatLng(45.554514236, 18.721532458));
        granicaDosega.push(new google.maps.LatLng(45.557969951, 18.706876868));
        granicaDosega.push(new google.maps.LatLng(45.560148445, 18.715073698));
        granicaDosega.push(new google.maps.LatLng(45.561170055, 18.718828791));

        var map;
        window.onload = function () {
            var latlng = new google.maps.LatLng(45.5580, 18.7134);
            map = new google.maps.Map(document.getElementById('map'), {
                center: latlng,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            console.log("dataperum", dataPerumahan);
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var OriginLating = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    //var destination = new google.maps.LatLng(-6.90929678528692, 107.63648280000007);

                    Origin_lat = pos.lat;
                    Origin_lng = pos.lng;
                    //var Inmarker = new google.maps.Marker({
                    //    position: new google.maps.LatLng(pos.lat, pos.lng),
                    //    bounds: true,
                    //    animation: google.maps.Animation.DROP,
                    //    map: map,
                    //    icon: '/Content/BackEndAsset/images/rsz_pinmap.png'
                    //});

                    //google.maps.event.addListener(Inmarker, 'click', function () {
                    //    infowindow.close();
                    //    Inmarker.setIcon("/Content/BackEndAsset/images/rsz_pinmap.png");
                    //    infowindow.setContent("My Lokasi");
                    //    infowindow.open(map, Inmarker);
                    //});
                    if (dataPerumahan.length > 0) {
                        $.each(dataPerumahan, function (index, value) {
                            console.log(value);
                            var destination = new google.maps.LatLng(value.lat,value.lon);
                            addDirection(OriginLating, destination);
                           // drawLine(Origin_lat, Origin_lng, value.lat, value.lon);
                        });
                    }
                    
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

            var marker_bolnica = new google.maps.Marker({
                position: latlng,
                map: map,
                title: 'KBC Osijek'
            });


            //var Polygon = new google.maps.Polygon({
            //    paths: granicaDosega,
            //    strokeColor: '#00FF00',
            //    strokeOpacity: 1,
            //    strokeWeight: 2,
            //    fillColor: '#00FF00',
            //    fillOpacity: 0.1
            //});
            //Polygon.setMap(map);
            //google.maps.event.addListener(Polygon, 'click', function (event) {
            //    var marker = new google.maps.Marker({
            //        position: event.latLng,
            //        map: map,
            //        title: 'Novi marker'
            //    });
            //    infowindow.open(map, marker);
            //    findPath(event.latLng.d.toFixed(9), event.latLng.e.toFixed(9));
            //    $('.info').hide();
            //    $('.warning').show();
            //    $('.success').hide();
            //    //console.log(event.latLng.nb.toFixed(9)+" "+event.latLng.ob.toFixed(9));
            //});

        };

        function addDirection(originLanlot, destinationLatlon) {
            var request = {
                origin: originLanlot,
                destination: destinationLatlon,
                travelMode: 'DRIVING',
            }

            var RuteService = new google.maps.DirectionsService();
            var RuteDisplay = new google.maps.DirectionsRenderer();

            RuteService.route(request, function (response, status) {
                console.log("status", status);
                console.log("Resphone", response);
                if (status === 'OK') {
                    console.log("status", status);
                    RuteDisplay.setDirections(response);
                    RuteDisplay.setMap(map);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }

            });


        }

        function findPath(a, b) {
            jQuery.ajax({
                url: "@Url.Action("djiksaAlgoritm","Perumahan")",
                cache: false,
                dataType: "json",
                success: function (json) {
                    prev_lat = 45.557986854;
                    prev_lng = 18.713400671;
                    $.each(json, function (index, value) {
                        drawLine(prev_lat, prev_lng, value[0], value[1]);
                        prev_lat = value[0];
                        prev_lng = value[1];
                    });
                }
            });
        }

        function drawLine(lat1, lng1, lat2, lng2) {
            var lineCoords = new Array();
            lineCoords.push(new google.maps.LatLng(parseFloat(lat1), parseFloat(lng1)));
            lineCoords.push(new google.maps.LatLng(parseFloat(lat2), parseFloat(lng2)));
            makeLine = new google.maps.Polygon({
                paths: lineCoords,
                strokeColor: '#0000FF',
                strokeOpacity: 1,
                strokeWeight: 5,
                fillColor: '#00FF00',
                fillOpacity: 0
            });
            makeLine.setMap(map);
            $('.info').hide();
            $('.warning').hide();
            $('.success').show();
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
</script>
}