﻿@model App.Applications.DtoCollection.Perumahan.Dto.PerumahanViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PerumahanViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageRumah)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.imageRumah)*@
            <img src="@Model.imageRumah" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamat_rumah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat_rumah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeRumah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeRumah)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
