﻿@using App.Applications.DtoCollection.Perumahan.Dto
@model PerumahanViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Edit</strong>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Perumahan", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2">Image :</label>
                        <div class="col-md-10">
                            <input type="file" name="imageFile" id="files_1" class="form-control" />
                        </div>
                        @Html.ValidationMessageFor(model => model.imageFile, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Alamat Rumah :</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.alamat_rumah, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.alamat_rumah, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Type Rumah :</label>
                        <div class="col-md-10">
                            <select class="form-control " name="typeRumah">
                                @foreach (TypeRumah name in ViewBag.JenisRUmah)
                                {
                                    var val = (int)name;
                                    if (Model.typeRumah == val)
                                    {
                                        <option selected value="@val">@val</option>
                                    }
                                    else
                                    {
                                        <option value="@val">@val</option>
                                    }

                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.typeRumah, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group no-margin">
                        <label class="control-label col-md-2">Map<span class="required">*</span></label>
                        <div class="col-md-10">

                            <div class="gllpLatlonPicker" id="map-picker">
                                <div class="input-group " style="padding-bottom: 20px;">
                                    <input type="text" name="gllpSearchField" placeholder="jln cipandan no 40" class="form-control gllpSearchField">
                                    <span class="input-group-btn">
                                        <input type="button" name="search" class="btn btn-default gllpSearchButton" value="Go!" id="tesdong">
                                    </span>
                                </div><!-- /input-group -->
                                <div class="gllpMap">Google Maps</div>
                                <input type="hidden" class="gllpLatitude" value="@Model.lat" name="Lat" />
                                <input type="hidden" class="gllpLongitude" value="@Model.lon" name="Lon" />
                                <input type="hidden" class="gllpZoom" value="17" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @*<link rel="stylesheet" type="text/css" href="~/Content/BackEndAsset/assets/js/lib/fileinput/Fileinput.css" />
    <script src="~/Content/BackEndAsset/assets/js/lib/fileinput/fileinput.min.js"></script>*@

    <script>
             $(document).ready(function () {
            if ("@Model.imageRumah" == "") {
                $("#files_1").fileinput({
                    showUpload: false,
                    showCaption: false,
                    showPreview: true,
                    browseClass: "btn btn-danger",
                    fileType: "jpg,gif,png"
                });
            } else {
                $("#files_1").fileinput({
                    showUpload: false,
                    initialPreview: [
                             '<img src="@Url.Content(Model.imageRumah)" class="file-preview-image">'
                    ],
                    showCaption: false,
                    browseClass: "btn btn-danger",
                    fileType: "jpg,gif,png"
                });
            }

        });
    </script>
}
